:root {
    --main-color: rgb(87, 83, 83);
    --contact-color: #333333;
    --about-color: #85dcb1;
    --education-color: hsl(24, 70%, 70%);
    --footer-color: rgb(102, 102, 102);
    --projects-color: rgb(118, 102, 102);
    --main-theme-color: #333333;
    --about-me-color-transparency: rgba(
        255,
        255,
        255,
        0.093
    );
    --gradient-button-style: linear-gradient(
        #000000,
        #5e5e5e
    );

    --main-font-color: #f3f3f3;

    --base-padding: 1rem;
    --padding-main: 2rem;
    --base-margin: 1rem;
    --base-flex-gap: 1rem;
    --base-border-radius: 10px;
    --padding-left-and-right: 0 20vw 0 20vw;
    --padding-left-and-right-mobile: 8px;
    --list-box-gradient: 1;
}

html {
    background-color: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}
body {
    font-family: 'Lato', sans-serif;
    /* flex-basis: auto; */
    margin: 0;
    min-height: 100vw;
}

article {
    padding: 10px;
}
section article {
    padding: 10px;
}
a:visited {
    color: inherit;
}
a {
    color: var(--main-font-color);
}

/* Navigation section */

.navigation {
    color: var(--main-font-color);
    display: flex;
    position: sticky;
    top: 0;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0.178);
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    margin: 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 0.1 1 30px;
    backdrop-filter: blur(3px);
    z-index: 10;
}

.navigation > ul {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.navigation > img {
    /* width: 240px; */
    height: auto;
    /* margin-left: 5.5vw; */
}

.navigation > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    flex-grow: 4;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    transition: color 0.2s ease-in-out;
}

/* Navigation section END */

/* Footer section  */
.footer {
    padding-left: 7vw;
    padding-right: 7vw;
    /* background: #000E28;  */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.76fr;
    background-color: var(--footer-color);
    grid-template-areas:
        'a b c'
        'a d c';
    align-items: center;
    justify-items: center;
}

.footer > img {
    align-self: center;
    object-fit: cover;
    width: 70%;
    grid-area: b;
    margin: 0;
    max-width: 160px;
}

.footer > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;

    flex-direction: row;
    justify-self: center;
    align-self: flex-end;
}

.footer-navigation > li > a {
    color: var(--main-font-color);
    grid-area: a;
    transition: color 0.2s ease-in-out;
}

.footer-navigation {
    justify-self: center;
    align-self: center;
}

.footer-icons > li > a {
    grid-area: c;
    color: var(--main-font-color);
}

.footer > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

.footer > span {
    grid-area: d;
    align-self: flex-end;
}

/* Footer section END */

.navigation > ul > li > a:hover,
.footer-navigation > li > a:hover {
    color: rgb(255, 102, 0);
    transition: color 0.2s ease-in-out;
}

/* Contact section */

.contact-section {
    background: var(--contact-color);
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
    flex-wrap: wrap;
    padding: var(--base-padding);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 500px;
    min-width: 280px;
    height: 50vw;
    max-height: 500px;
    min-height: 400px;
    padding: 20px;
    background-color: #121d332c;
    backdrop-filter: blur(8px) brightness(140%);
}

.contact-form input {
    height: 40px;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: large;
    padding: 5px;
    margin: 20px;
}
.contact-form input[type='submit']:hover {
    background-color: rgb(202, 0, 0);
    cursor: pointer;
}

.contact-form input[type='submit'] {
    font-weight: 600;
}

.contact-form textarea::placeholder {
    text-align: center;
}

.contact-form > textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    resize: none;
    height: 200px;
    min-width: 231px;
    max-width: 100%;
    width: 30vw;
    padding: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid gray;
}

/* Contact section END */

.main-content {
    color: white;
    display: flex;
    flex-direction: column;
}

.main-content article {
    height: 100%;
    min-height: 600px;
    padding: var(--padding-left-and-right);
    background-color: var(--main-theme-color);
}

.projects-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--base-flex-gap);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.projects-article section {
    display: flex;
    flex-direction: column;
    background-color: var(--about-me-color-transparency);
    width: 300px;
    padding: var(--base-padding);
    margin: var(--base-margin);
    border-radius: var(--base-border-radius);
    text-align: justify;
    gap: var(--base-flex-gap);
    transition: all 0.2s ease-in-out;
}

.projects-article section a {
    text-align: center;
    text-decoration: none;
}
.projects-article section:hover {
    transform: scale(110%);
}
.projects-article section:hover::after {
    z-index: 4;
}

.icon-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.education-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--base-flex-gap);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.education-article section {
    display: flex;
    flex-direction: column;
    background-color: var(--about-me-color-transparency);
    width: 300px;
    padding: var(--base-padding);
    margin: var(--base-margin);
    border-radius: var(--base-border-radius);
    text-align: justify;
    transition: all 0.2s ease-in-out;
}
.education-article section:hover {
    transform: scale(110%);
}

.about-me-header {
    min-width: 270px;
    display: flex;
    align-items: center;
    gap: var(--base-flex-gap);
    background-color: var(--about-me-color-transparency);
}
.about-me-header img {
    box-sizing: border-box;
    max-width: 150px;
    border-radius: var(--base-border-radius);
    padding: 0;
    margin: 0;
}

.tech-stack,
.other-skills,
.about-me-header {
    margin: var(--base-margin);
    padding: var(--base-padding);
    border-radius: var(--base-border-radius);
}

.about-others {
    /* background-color: var(--about-me-color-transparency2); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--base-flex-gap);
    margin: 30px 0 30px 0;
}

.about-others section {
    display: flex;
    flex-direction: column;
    background-color: var(--about-me-color-transparency);
    padding: var(--base-padding);
    margin: var(--base-margin);
    border-radius: var(--base-border-radius);
    text-align: justify;
    flex: 1 1 350px;
}

.other-skills ul,
.tech-stack ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.other-skills ul li,
.tech-stack ul li {
    border: 1px solid black;
    flex: 1 1 30%;
    text-align: center;
    padding: var(--base-padding);
    background: var(--gradient-button-style);
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.other-skills ul h2,
.tech-stack ul h2 {
    flex: 1 1 100%;
    text-align: center;
    padding: var(--base-padding);
    font-size: 1.2em;
}
/* .other-skills ul li:hover,
.tech-stack ul li:hover {
    border: 1px solid black;
    flex: 1 1 30%;
    text-align: center;
    padding: var(--base-padding);
    background: #85dcb1;
} */

#wordpress_section,
#vanilla_section,
#react_banking_section,
#react_banking_app_section {
    cursor: pointer;
}

/* Hamburger */

.hamburger {
    display: none;
    flex-direction: column;
    width: 60px;
    cursor: pointer;
}

.hamburger > span {
    background: #fffff5;
    border-radius: 10px;
    height: 5px;
    margin: 8px 0;
    transition: 0.4s cubic-bezier(0.5, -0.5, 0.3, 1.5);
}

.hamburger > span:nth-of-type(1) {
    width: 100%;
}

.hamburger > span:nth-of-type(2) {
    width: 100%;
}

.hamburger > span:nth-of-type(3) {
    width: 100%;
}

.hamburger > input[type='checkbox'] {
    display: none;
}

.hamburger
    > input[type='checkbox']:checked
    ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: translate(0px, 20px) rotateZ(45deg);
}
.hamburger
    > input[type='checkbox']:checked
    ~ span:nth-of-type(2) {
    transform-origin: bottom;
    transform: scale(0);
}
.hamburger
    > input[type='checkbox']:checked
    ~ span:nth-of-type(3) {
    transform-origin: top;
    transform: translate(0px, -20px) rotateZ(-45deg);
}

/* Hambuger:end */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hidden {
    display: none;
    flex-grow: 0;
    flex: 0;
    height: 0;
}

@media only screen and (max-width: 1910px) {
    .education-article section {
        flex: 1 0 320px;
    }
}

@media only screen and (max-width: 1410px) {
    .main-content article {
        padding: var(--padding-left-and-right-mobile);
    }
    .education-article section:hover {
        transform: none;
    }
    .projects-article section:hover {
        transform: none;
    }
}

@media only screen and (max-width: 1000px) {
    .footer {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .main-content article {
        padding: var(--padding-left-and-right-mobile);
    }
    .projects-article section {
        padding: var(--padding-left-and-right-mobile);
    }

    .education-article section {
        padding: var(--padding-left-and-right-mobile);
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --base-margin: 1px;
    }

    .main-content article {
        padding: var(--padding-left-and-right-mobile);
    }

    html {
        scroll-padding-top: 348px;
    }
    .about-others {
        margin-top: 20px;
    }
    .projects-list article {
        min-height: 450px;
        min-width: 350px;
    }
    .footer {
        text-align: center;
        padding: 5px 0 5px 0;
    }
    .footer > ul {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .footer-navigation {
        grid-area: 1 / 1 / 3/ 2;
    }
    .footer-icons {
        grid-area: 1 / 3 / 3 / 4;
    }

    .navigation > ul,
    .navigation {
        flex-direction: column;
        padding: 0;
    }
    .hamburger {
        display: flex;
        align-items: flex-end;
    }
}
