:root {
    --main-color: #fff;
    --contact-color: #fff;
    --about-color: #85dcb1;
    --education-color: #e8a87c;
    --footer-color: #fff;
}

html {
    background-color: var(--main-color);
}
body {
    /* background: black; */
    margin: 0;
    flex-basis: auto;
}

article {
    padding: 10px;
}
section article {
    padding: 10px;
}
a:visited {
    color: inherit;
}
a {
    color: black;
}

/* Navigation section */

.navigation {
    display: flex;
    position: sticky;
    top: 0;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0.589);
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    margin: 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1;
    backdrop-filter: blur(2px);
}

.navigation > ul {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.navigation > img {
    /* width: 240px; */
    height: auto;
    /* margin-left: 5.5vw; */
}

.navigation > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    flex-grow: 4;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    transition: color 0.2s ease-in-out;
}

/* Navigation section END */

/* Footer section  */
.footer {
    padding-left: 7vw;
    padding-right: 7vw;
    /* background: #000E28;  */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.76fr;
    background-color: rgba(240, 248, 255, 0.592);
    grid-template-areas:
        'a b c'
        'a d c';
    align-items: center;
    justify-items: center;
}

.footer > img {
    align-self: center;
    object-fit: cover;
    width: 70%;
    grid-area: b;
    margin: 0;
    max-width: 160px;
}

.footer > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;

    flex-direction: row;
    justify-self: center;
    align-self: flex-end;
}

.footer-navigation > li > a {
    grid-area: a;

    transition: color 0.2s ease-in-out;
}

.footer-navigation {
    justify-self: center;
    align-self: center;
}

.footer-icons > li > a {
    grid-area: c;
}

.footer > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

.footer > span {
    grid-area: d;
    align-self: flex-end;
}

/* Footer section END */

.navigation > ul > li > a:hover,
.footer-navigation > li > a:hover {
    color: rgb(255, 102, 0);
    transition: color 0.2s ease-in-out;
}

/* Contact section */

.contact-section {
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 500px;
    min-width: 240px;
    height: 50vw;
    max-height: 500px;
    min-height: 400px;
    padding: 20px;
    background-color: #121d332c;
    backdrop-filter: blur(8px) brightness(140%);
}

.contact-form input {
    height: 40px;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: large;
    padding: 5px;
    margin: 20px;
}
.contact-form input[type='submit']:hover {
    background-color: rgb(202, 0, 0);
    cursor: pointer;
}

.contact-form input[type='submit'] {
    font-weight: 600;
}

.contact-form textarea::placeholder {
    text-align: center;
}

.contact-form > textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    resize: none;
    height: 200px;
    min-width: 231px;
    max-width: 100%;
    width: 30vw;
    padding: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid gray;
}

/* Contact section END */

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content article {
    height: 100%;
    min-height: 600px;
}

.about-article {
    background-color: var(--about-color);
}

.projects-article {
    background-color: rgb(232, 232, 232);
}

.education-article {
    background-color: var(--education-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.education-article section {
    border: 1px solid black;
    background-color: #e4e7ed54;
    width: 300px;
    flex-wrap: wrap;
}

/* Hamburger */

.hamburger {
    display: none;
    flex-direction: column;
    width: 60px;
    cursor: pointer;
}

.hamburger > span {
    background: #fffff5;
    border-radius: 10px;
    height: 5px;
    margin: 8px 0;
    transition: 0.4s cubic-bezier(0.5, -0.5, 0.3, 1.5);
}

.hamburger > span:nth-of-type(1) {
    width: 100%;
}

.hamburger > span:nth-of-type(2) {
    width: 100%;
}

.hamburger > span:nth-of-type(3) {
    width: 100%;
}

.hamburger > input[type='checkbox'] {
    display: none;
}

.hamburger
    > input[type='checkbox']:checked
    ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: translate(0px, 20px) rotateZ(45deg);
}
.hamburger
    > input[type='checkbox']:checked
    ~ span:nth-of-type(2) {
    transform-origin: bottom;
    transform: scale(0);
}
.hamburger
    > input[type='checkbox']:checked
    ~ span:nth-of-type(3) {
    transform-origin: top;
    transform: translate(0px, -20px) rotateZ(-45deg);
}

/* Hambuger:end */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hidden {
    display: none;
    flex-grow: 0;
    flex: 0;
    height: 0;
}

@media only screen and (max-width: 1000px) {
    .footer {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

@media only screen and (max-width: 767px) {
    .projects-list article {
        min-height: 450px;
        min-width: 350px;
    }
    .footer {
        padding-left: 0vw;
        padding-right: 0vw;
    }
    .footer > ul {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .footer-navigation {
        grid-area: 1 / 1 / 3/ 2;
    }
    .footer-icons {
        grid-area: 1 / 3 / 3 / 4;
    }

    .hamburger {
        display: flex;
    }
    .navigation > ul,
    .navigation {
        flex-direction: column;
        padding: 0;
    }
    .hamburger {
        display: flex;
        align-content: space-around;
    }
}
